[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.2"
click = "==8.0.3"
itsdangerous = "==2.0.1"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"

[dev-packages]
pylint = "==2.12.2"
pytest = "==6.2.5"
python-dotenv = "==0.19.2"
astroid = "==2.9.0"
attrs = "==21.2.0"
iniconfig = "==1.1.1"
isort = "==5.10.1"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.6.1"
platformdirs = "==2.4.1"
pluggy = "==1.0.0"
py = "==1.11.0"
pyparsing = "==3.0.6"
toml = "==0.10.2"
typing-extensions = "==4.0.1"
wrapt = "==1.13.3"

[requires]
python_version = "3.9"
